<!-- HEADER -->
<nav class="header navbar-expand-lg navbar-dark">
    <!-- COLLAPSE -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse header-content-pos" id="navbarColor02">
        <div class="navbar-nav mr-auto">
            <!-- LINK -->
            <ul class="navbar-nav">
                <!-- FORSIDE -->
                <li class="nav-item ">
                    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")" href="@Url.Action("Index", "Home")">
                        <i class="fas fa-home"></i>
                        Forside
                    </a>
                </li>
                <!-- INFOMATION-->
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Information" ? "active" : "")" href="@Url.Action("Information", "Home")">
                        <i class="fas fa-info"></i>
                        <span class="">Information</span>
                    </a>
                    <!-- EVENTS -->
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Events" ? "active" : "")" href="@Url.Action("Events", "Home")">
                        <i class="far fa-calendar-alt"></i>
                        <span class="">Events</span>
                    </a>
                </li>
                <!-- GALLERI -->
                <li class="nav-item">
                    <a class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Galleri" ? "active" : "")" href="@Url.Action("Galleri", "Home")">
                        <i class="far fa-images"></i>
                        <span class="">Galleri</span>
                    </a>
                </li>
                <!-- ORGANISATION DROPDOWN -->
                <li class="nav-item dropdown show">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Organisation</a>
                    <div class="dropdown-menu show" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
                        <!-- AFDELINGER -->
                        <a class="dropdown-item @(ViewContext.RouteData.Values["Action"].ToString() == "Afdelinger" ? "active" : "")" href="@Url.Action("Afdelinger", "Home")">
                            <i class="fas fa-sitemap"></i>
                            <span class="">Afdelinger</span>
                        </a>
                        <!-- PERSONALE -->
                        <a class="dropdown-item @(ViewContext.RouteData.Values["Action"].ToString() == "Personale" ? "active" : "")" href="@Url.Action("Personale", "Home")">
                            <i class="fas fa-users"></i>
                            <span class="">Personale</span>
                        </a>
                        <!-- BREAKLINE -->
                        <div class="dropdown-divider"></div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#regler">
                            <i class="fas fa-book"></i>
                            Regler & Vedtægter
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
